.navbar__barContent{
    background-color: white;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
}

.navbar__logo{
    margin-top: 10px;
}

.navbar__img{
    margin:10px 15px;
}
.navbar__searchBar{
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    text-align: center;
}